nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  z-index: 1;
}
nav ul {
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
nav li {
  display: inline-block;
  padding: 0.5em;
  font-variant: small-caps;
}

.criteria-page {
    margin-top: 60px;
}

ol.breadcrumb {
    display: inline
}