/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  z-index: 1;
}
nav ul {
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
nav li {
  display: inline-block;
  padding: 0.5em;
  font-variant: small-caps;
}

main {
    margin-top: 5em;
}

/* Home page*/


/* Criteria page */

#criteria-page {
  max-width: 80em;
  margin: auto;
}

#criteria-body {
  border: 1px solid black;
  padding: 2em;
}


textarea#criteriaCommentForm {
  height: 10em;
}

#progress-box {
    color: red;
}

ol.breadcrumb {
    display: inline;
}
/* Report Page */


#rootSectionRows {
  padding-left: 0;
  margin-top: 3em;
}

.rootSectionRow {
  margin-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.rootSectionTitle {
  overflow: hidden;
  border: 1px solid black;
  height: 75px;

}

.rootSectionTitle > p {
  margin: 0 auto;
}

.rootSectionComments {
  border: 1px solid black;
  /*padding-left: 0.5em;*/
  height: 150px;
  margin-top: 0.5em;
  /*overflow: scroll;*/
}

.rootSectionComments > textarea {
  border: none;
  height: 100%;
  width: 100%;
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  .rootSectionTitle {
    height: 150px;
    padding: 3em;
  }

  .rootSectionComments {
    height: 150px;
    margin-top: 0;
  }

  #home-page {
    margin-top: 0px;
  }

  .rootSectionRow {
    padding-left: 0;
    padding-right: 0;
  }

  /*.progress-box {
    float: right !important;
  }*/
}

